<div class="container-fluid mt-5">
  <div class="d-flex mx-auto" style="width:500px; height:400px; outline:solid 3px tomato;">
    <div class="text-center" id="right-side">
      <img class="p-3" src="https://leo.lemirago.cc/article/1640829831_eD5Bb.jpg" width="250px" height="300px" >
    <h5>球員名稱 : 李愷諺</h5>
    <h5>位置 : 控球後衛</h5>
    
    
    </div>
    <div id="left-side" style="width:250px;" class="p-3 mt-4">
      <h3 class="text-center mb-2">生涯平均數據</h3>
      <div class="record-group">
        <div class="d-flex align-items-center">
          <h3>Efg%</h3>
          <p class="mb-0">(有效命中率)</p>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: {{EFG}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{efg}}</div>
        </div>
      </div>
      <div class="record-group my-2">
        <div class="d-flex align-items-center">
          <h3>Ts%</h3>
          <p class="mb-0">(真實命中率)</p>
        </div>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{TS}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ts}}</div>
        </div>
      </div>
      <div class="record-group">
        <div class="d-flex align-items-center">
          <h3>Tov%</h3>
          <p class="mb-0">(失誤率)</p>
        </div>
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" style="width: {{TO_V}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{to_v}}</div>
        </div>
      </div>
      
      <h4 class="text-center mt-3">出賽場數 : {{game}}</h4>
      <div id="button" class="d-flex justify-content-center mt-3">
        <a class="btn btn-primary btn-sm" href="/basketball/form">add record</a>
      </div>
      
      
      
    </div>
  </div>
</div>