<div class="container-fluid mt-5">
  <div class="d-flex mx-auto" style="width:500px; height:400px; outline:solid 3px tomato;">
    <div class="text-center" id="right-side">
      <img class="p-3" src="{{user.image}}" width="250px" height="300px" >
      <h5>球員名稱 : {{user.name}}</h5>
      <h5>位置 : {{user.position}}</h5>
    </div>
    <div id="left-side" style="width:250px;" class="p-3 mt-4">
      <h3 class="text-center mb-2">生涯比賽數據</h3>
      <div class="record-group">
        <div class="d-flex align-items-center">
          <h3>Efg%</h3>
          <p class="mb-0">(有效命中率)</p>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width:{{#if game}}{{EFG}}{{else}}0{{/if}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{#if game}}{{efg}}{{else}}0{{/if}}</div>
        </div>
      </div>
      <div class="record-group my-2">
        <div class="d-flex align-items-center">
          <h3>Ts%</h3>
          <p class="mb-0">(真實命中率)</p>
        </div>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{#if game}}{{TS}}{{else}}0{{/if}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{#if game}}{{ts}}{{else}}0{{/if}}</div>
        </div>
      </div>
      <div class="record-group">
        <div class="d-flex align-items-center">
          <h3>Tov%</h3>
          <p class="mb-0">(失誤率)</p>
        </div>
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" style="width: {{#if game}}{{TO_V}}{{else}}0{{/if}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{#if game}}{{to_v}}{{else}}0{{/if}}</div>
        </div>
      </div>
      
      <h4 class="text-center mt-3">出賽場數 : {{game}}</h4>
      <div id="button" class="d-flex justify-content-center mt-3">
        <a class="btn btn-primary btn-sm" href="/basketball/user/edit">edit</a>
      </div>
      
      
      
    </div>
  </div>
</div>