<div class="container-fluid mt-5 d-flex justify-content-evenly">
  <aside class="d-flex flex-column " style=" outline:solid 3px tomato;">
    <h5 class="mt-3 mb-0 text-center">推薦球員</h5>
    <aside class="d-flex flex-column p-2 tabindex= 0" id="other_users" data-bs-spy="scroll">
      {{#each users}}
      <div class="text-center border border-3 rounded-3 border-warning mb-2" id="other_user">
        <p class="mb-0"><b>{{this.name}}</b></p>
        <img class="p-2" src="{{this.image}}" id="other_img">
        <a class="btn btn-primary btn-sm mb-2" href="/basketball/{{this.id}}">view</a>
        
      </div>
      {{/each}}
    </aside>
  </aside>

  <div class="d-flex " style=" outline:solid 3px tomato;" id="user_panel">
    <div class="text-center" id="right_side">
      <img class="p-3" src="{{other_user.image}}" id="img">
      <h5>球員名稱 : {{other_user.name}}</h5>
      <h5>位置 : {{other_user.position}}</h5>
      <h5 >粉絲人數 : 3</h4>
      <p>
        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
          aria-expanded="false" aria-controls="collapseExample" id="show">
          show
        </button>
      </p>
    </div>
    <div id="left_side" class="p-3 mt-4">
      <h3 class="text-center mb-2">生涯比賽數據</h3>
      <div class="record-group">
        <div class="d-flex align-items-center">
          <h3>Efg%</h3>
          <p class="mb-0">(有效命中率)</p>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width:{{#if game}}{{EFG}}{{else}}0{{/if}}%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{#if game}}{{EFG}}%{{else}}0{{/if}}</div>
        </div>
      </div>
      <div class="record-group my-2">
        <div class="d-flex align-items-center">
          <h3>Ts%</h3>
          <p class="mb-0">(真實命中率)</p>
        </div>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{#if game}}{{TS}}{{else}}0{{/if}}%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{#if game}}{{TS}}%{{else}}0{{/if}}</div>
        </div>
      </div>
      <div class="record-group">
        <div class="d-flex align-items-center">
          <h3>Tov%</h3>
          <p class="mb-0">(失誤率)</p>
        </div>
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" style="width: {{#if game}}{{TO_V}}{{else}}0{{/if}}%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{#if game}}{{TO_V}}%{{else}}0{{/if}}</div>
        </div>
      </div>
      <h4 class="text-center mt-3">出賽場數 : {{game}}</h4>
     
      <div id="button" class="d-flex justify-content-center mt-3">
        {{#ifCond user.id other_user.id}}
        <a class="btn btn-primary btn-sm me-3" href="/basketball/user/edit">edit user</a>
        <a class="btn btn-primary btn-sm" href="/basketball/record/{{other_user.id}}">create record</a>
        {{else}}
        <a class="btn btn-primary btn-sm me-3" href="">follow</a>
        <a class="btn btn-primary btn-sm" href="/basketball/record/{{other_user.id}}">view record</a>
        {{/ifCond}}
      </div>
    </div>
    <div id="collapseExample" class="p-3 mt-2 collapse">
      <h3 class="text-center mb-2">生涯比賽數據</h3>
      <div class="record-group">
        <div class="d-flex align-items-center">
          <h3>Efg%</h3>
          <p class="mb-0">(有效命中率)</p>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width:{{#if game}}{{EFG}}{{else}}0{{/if}}%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{#if game}}{{EFG}}%{{else}}0{{/if}}</div>
        </div>
      </div>
      <div class="record-group my-2">
        <div class="d-flex align-items-center">
          <h3>Ts%</h3>
          <p class="mb-0">(真實命中率)</p>
        </div>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{#if game}}{{TS}}{{else}}0{{/if}}%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{#if game}}{{TS}}%{{else}}0{{/if}}</div>
        </div>
      </div>
      <div class="record-group">
        <div class="d-flex align-items-center">
          <h3>Tov%</h3>
          <p class="mb-0">(失誤率)</p>
        </div>
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" style="width: {{#if game}}{{TO_V}}{{else}}0{{/if}}%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{#if game}}{{TO_V}}%{{else}}0{{/if}}</div>
        </div>
      </div>
      <h4 class="text-center mt-3">出賽場數 : {{game}}</h4>
      <div id="button" class="d-flex justify-content-center mt-3">
        <a class="btn btn-primary btn-sm me-3" href="/basketball/user/edit">edit user</a>
        <a class="btn btn-primary btn-sm" href="/basketball/record">create record</a>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column" style=" outline:solid 3px tomato;" id="other_users">
    <div class="text-center">
      <h5 class="mt-3">好友名單</h5>
      <img class="p-3" src="{{user.image}}" id="other_img">
      <p>{{user.name}}</p>
    </div>
  </div>
</div>