<div class="container-fluid mt-3">
    <div class="mx-auto" id="rank_panel">
        <h3 class="text-center my-2">數據排行榜 (PLG例行賽)</h3>
        <h6 class="ms-2 my-3">* Efg(有效命中率) Ts(真實命中率) Tov(失誤率)</h6>
        <h6 class="ms-2 my-3">* 此排行榜只紀錄出賽至少20場的球員</h6>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <div class="d-flex align-items-center " >
                    <i class="fa-solid fa-basketball fa-lg" id="basketball_logo"></i>
                    <a  class="navbar-brand ms-2" id = "team_type">{{#ifCond team ""}}球隊分類{{else}}{{team}}{{/ifCond}}</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav2">
                    <ul class="navbar-nav  mb-1 d-flex justify-content-start ">
                        <li class="nav-item">
                            <a class="nav-link {{#ifCond team ""}}active{{/ifCond}} " aria-current="page"
                                href="?team">全部</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{#ifCond team "臺北富邦勇士"}}active{{/ifCond}}"
                                href="?team=臺北富邦勇士">臺北富邦勇士</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{#ifCond team "桃園領航猿"}}active{{/ifCond}}" href="?team=桃園領航猿">桃園領航猿</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{#ifCond team "新竹街口攻城獅"}}active{{/ifCond}}"
                                href="?team=新竹街口攻城獅">新竹街口攻城獅</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{#ifCond team "福爾摩沙台新夢想家"}}active{{/ifCond}}"
                                href="?team=福爾摩沙台新夢想家">福爾摩沙台新夢想家</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{#ifCond team "高雄鋼鐵人"}}active{{/ifCond}}" href="?team=高雄鋼鐵人">高雄鋼鐵人</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{#ifCond team "新北國王"}}active{{/ifCond}}" href="?team=新北國王">新北國王</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                排列方式
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="?sort=games&order=DESC&team={{team}}">games</a></li>
                                <li><a class="dropdown-item" href="?sort=efg&order=DESC&team={{team}}">Efg%</a></li>
                                <li><a class="dropdown-item" href="?sort=ts&order=DESC&team={{team}}">Ts%</a></li>
                                <li><a class="dropdown-item" href="?sort=tov&order=ASC&team={{team}}">Tov%</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">team</th>
                            <th scope="col">name</th>
                            <th scope="col">games</th>
                            <th scope="col">Efg%</th>
                            <th scope="col">Ts%</th>
                            <th scope="col">Tov%</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each plg}}
                        <tr>
                            <th scope="row" style="font-size:20px;">{{this.index}}</th>
                            <td>{{this.team}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.games}}</td>
                            <td>{{this.efg}}%</td>
                            <td>{{this.ts}}%</td>
                            <td>{{this.tov}}%</td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
                <nav class="mt-3" aria-label="page navigation">
                    <ul class="pagination">
                        <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
                            <a class="page-link"
                                href="?page={{pagination.prev}}&team={{team}}&sort={{sort}}&order={{order}}"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{#each pagination.pages}}
                        {{#ifCond this ../pagination.currentPage}}
                        <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
                        {{else}}
                        <li class="page-item">
                            <a class="page-link"
                                href="?page={{this}}&team={{../team}}&sort={{../sort}}&order={{../order}}">{{this}}</a>
                        </li>
                        {{/ifCond}}
                        {{/each}}
                        <li
                            class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
                            <a class="page-link"
                                href="?page={{pagination.next}}&team={{team}}&sort={{sort}}&order={{order}}"
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
    </div>