<div class="container-fluid mt-3">
    <div class="mx-auto" id="record_panel">
        <h3 class="text-center my-4">{{other_user.name}}的比賽數據</h3>
            <div class=" border border-primary border-3" id = "record_table">
                <table class="table table-hover mb-0 " >
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">日期</th>
                            <th scope="col">得分</th>
                            <th scope="col">投籃命中</th>
                            <th scope="col">三分命中</th>
                            <th scope="col">投籃出手</th>
                            <th scope="col">罰球出手</th>
                            <th scope="col">失誤</th>
                            <th scope="col" >有效命中率</th>
                            <th scope="col" >真實命中率</th>
                            <th scope="col">失誤率</th>
                            {{#ifCond ./user.id ./other_user.id}}
                            <th scope="col" style="width: 150px;"></th>
                            {{/ifCond}}

                        </tr>
                    </thead>
                    <tbody>
                        {{#each records}}
                        <tr>
                            <td scope="row" ><b style="font-size: 14px;">{{this.date}}</b></td>
                            <td>{{this.PTS}}</td>
                            <td>{{this.FGM}}</td>
                            <td>{{this.THREE_PM}}</td>
                            <td>{{this.FGA}}</td>
                            <td>{{this.FTA}}</td>
                            <td>{{this.TOV}}</td>
                            <td >{{this.efg}}%</td>
                            <td >{{this.ts}}%</td>
                            <td>{{this.to_v}}%</td>
                            {{#ifCond ../user.id ../other_user.id}}
                            <td id="button_panel" style="width:150px;">
                                <a class="btn btn-primary btn-sm" href="/basketball/form/edit/{{this.id}}"
                                    id="button_edit">edit</a>
                                <form action="/basketball/record/{{this.id}}?_method=DELETE" method="POST">
                                    <button class="btn btn-primary btn-sm" type="submit"
                                        onclick="return confirm(`確定要刪除此數據?`);">delete</button>
                                </form>
                            </td>
                            {{/ifCond}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        
            {{#ifCond user.id other_user.id}}
            <a class="btn btn-primary btn-sm mt-3 " href="/basketball/form">add record</a>
            {{else}}
            <a class="btn btn-primary btn-sm mt-3 " href="javascript:history.back(-1)">back</a>
            {{/ifCond}}
        </div>
    </div>
</div>